body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

.header{
background:#004080;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.header nav a{
color:white;
margin:10px;
text-decoration:none;
}

.container{
padding:30px;
}

input{
width:100%;
padding:12px;
margin-bottom:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

.card button{
margin-top:10px;
padding:10px 20px;
background:#007bff;
color:white;
border:none;
cursor:pointer;
}

.profile{
margin-top:40px;
background:white;
padding:20px;
border-radius:10px;
}

.profile input{
display:block;
width:100%;
margin:10px 0;
padding:10px;
}

.footer{
margin-top:40px;
background:#004080;
color:white;
text-align:center;
padding:15px;
}